
.goku {
     text-align: center;
     border-radius: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
   

}

body{
      background-color: rgb(16, 83, 207); 
      background-image:url(https://i5.walmartimages.com/asr/8a2d701a-5b5b-44b7-88a5-2c2e5f8df1ff_1.2ead1ef5d37e9f9993d18c15b6f3854c.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF)
  
}

.foes{
    text-align: center;
    font-family: monospace;
    font-size: large;
  list-style: none;
  background-color: rgba(194, 117, 1, 0.788);
    background opacity: .2 ;
    /* border-style: solid; */
    border-radius:70%;
    border-style: dotted;
    border-width:thin;
    border-color:#ebe834;
} 

.foe-pic{
    border-radius: 30%;
    width: 6rem;
    height: 6rem;
    
}
.main{
    text-align: center;
    font-family: fantasy;
    font-size: x-large;
    background-color: rgba(194, 117, 1, 0.788);
    background opacity: .5 ;
    border-style: solid;
    /* border-radius:50%; */
    border-width:thick;
    border-color:#ebe834;


}

.shenron{
    text-align: center;
    font-family: monospace;
    font-size: large;
    background-color: rgba(194, 117, 1, 0.788);
    background opacity: .2 ;
    border-radius:70%;
    border-style: dotted;
    border-width:thin;
    border-color:#ebe834;

}
.skills{
    text-align: center;
    font-family: monospace;
    list-style: none;
    font-size: large;
    background-color: rgba(194, 117, 1, 0.788);
    background opacity: .2 ;
    border-style: dotted;
    border-radius:70%;
    border-width:thin;
    border-color:#ebe834;
}

audio{
    color: rgb(212, 226, 9);
    style="position:relative; left:100px; top:30px
}